.head1
{
   height: 75px;
   background-color: black;
   padding-top: 5px;

}

.head2
{
    height: 75px;
    background-color: black;
}

.lk{

	display: flex;
	justify-content: center;
	align-items: center;
}

a{
	color: white;
}