*{margin: 0;
  padding: 0;}


header{
	margin-top:0;
	background-color: #333;
	width:100%;
}

.jumbotron{
	text-align: center;
	background-color: white;
}

.cont{

	max-width: 1080px;
	height: auto;
	width: 100%;
	padding: 20px;
	margin: 0 auto;
	/*background-color: lightgray;*/
	
}

i{
	font-size: 24px; 
	color: white; 
	padding: 20px;
}

div p{
	font-size: 20px;
	color: #6C757D;
    font-weight: 300;
    

}



img{

	/*height: 500px;
	height: auto;*/
	width: 100%;
	display: block;
	height: 200px;
	/*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: 50% 50%;*/

}

div.card-body{
	/*height: 200px;*/
}

.card{

	/*margin-top: 50px;*/
	/*margin-bottom: 50px;*/
	margin: 10px;

}




footer{

	background-color: white;
	text-align: center;
	padding: 100px;
	height: 200px;
	width: 100%;
}
