html,body{
    padding: 0;
    margin: 0;
    font-family: 'Muli' sans-serif;
    background-image: url("../img/bg.jpg");
    width: 100%;
    height:  100vh;
    background-repeat:  no-repeat;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::after{
    background-color: rgba(52, 58, 64, 0.9);
    /* z-index: 1; */
    height: 100vh;
}

header{
    color: white !important;
}

.navbar{
    padding: 2rem 2rem;
}

.pdng{
    padding-left: 100px;
    padding-right: 100px;
}

.navbar-brand{
    font-weight: 1000;
}

a{
    color: white;
    font-size: larger;
}

a:focus{
    border-bottom: 2px solid white;
    font-weight: 900;
}




.image{
    
    background: url("../img/bg.jpg") ;
    width: 100%;
    height:  100vh;
    background-repeat:  no-repeat;
    background-size: cover; 


}

.overlay{
    background-color: rgba(52, 58, 64, 0.9);
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: white;
}


.ht{
    height: 80%;
    align-items: center;
    display: flex;
}

.signup_box{

background-color: white;
color: black;
/* width: 380px; */
border-radius: 5px;
padding: 40px;

}

.btn-primary{
    background-color: #7971e7;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    height: 50px;
    padding: 15px;
}

.btn-primary:hover{
    background-color: #3e32e2;
}

.form-control{
    width: 90%;
}

.bg-white{
    background-color: white;
}

.colorbg{

    background-color: #7971e7;
    height: 40vh;

}

.colorbg h1{
    text-align: center;
    color: white;
    font-weight: 800;
}

.owl-carousel{
    position: relative;
    bottom: 140px;
}

.card-body {
    color: gray;
    line-height: 2.5rem;
}

.card-body a{
    color: #7971e7;
    text-decoration: none;
}

.card-body a:hover{
    color: #665bf8;
}

.brdr{
    border: 1px solid lightgray;
    padding: 15px;
    color: gray;
}

/* .programs{
    display: flex;
    justify-content: center;
} */

.titles{
    width: 60%;
    /* border: 1px solid black; */
    margin: 0 auto;
    text-align: center;
    line-height: 2rem;
}

.titles h1{
    
    font-weight: 900;
}

.titles p{
    color: #808080;
}

.slider{
    display: flex;
}



.col-md-5 img{
    width: 100%;
}

.text p{
    color: #808080;
}


.text i{
    color: #7971e7;
}

.teachers{
    margin-top: 5rem;
}

.box{
      border: 1px solid lightgrey;
      /* width: 20%; */
      height: auto;
      text-align: center;
}

.box img{
    position: relative;
    bottom: 50px;
}

.box h5,p{
    color: #808080;
}

.static{
    width: 40%;
    text-align: center;
}
