.jumbotron{

    background-image: url(https://wallpaperplay.com/walls/full/d/6/5/145580.jpg);
    height : 500px;
    background-position: 0% 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
} 

#jbtext
{
    
        text-align: center;
        font-size: 50px;
        font-weight: 800;
        color: aliceblue;
    
}
hr.style-two {
    border: 0;
    height: 5px;
    width:25%;
    background-image: linear-gradient(to right, rgba(0, 135, 0, 0), rgb(188, 200, 204), rgba(0, 0, 0, 0));
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  /* .imgbox{

    margin: 0 auto 0 auto;
    border: 1px solid black;
    width:50%;

  } */

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }